# Variables de entorno para la base de datos
DB_HOST=db
DB_USER=root
DB_PASSWORD=eafit_2025_secure
DB_NAME=usuarios

# Variables para la aplicación de estadísticas
ADMIN_PASSWORD=admin123

# Configuración SMTP (opcional para envío de correos)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
